.weatherApp {
    height: 31vh;
    width: 80vw;
    background: linear-gradient(to bottom right, #808080, #35363f);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-left: 10vw
}

h2 {
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.weather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchBar {
    color: black;
}

.currentWeather, .dayOneWeather, .dayTwoWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vw 1vw 1vw 1vw;
}

h3 {
    margin-top: 1vw;
    font-weight: 600;
    color: lightgreen 
}